.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #f0dde2;
  padding-left: 28px;
}

.text {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  color: #d6d27f;
  padding-left: 28px;
}
