.link {
  color: #ecefec;
  text-decoration: none;
}

.active {
  color: #29df3e;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 28px;
  font-size: 28px;
  font-weight: 600;
  padding-left: 28px;
  padding-bottom: 9px;
  padding-top: 9px;
  border-style: double;
  box-shadow: #f7eef0;
  background-color: #191b18;
}
